* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  height: 100vh;
  background: black;
  position: relative;
  overflow: hidden;
}

.gradient {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background: #97b567;
  filter: blur(calc(60px + 40 * (100vw - 320px) / 960));
  width: 70vmin;
  height: 70vmin;
}

.circle {
  overflow: hidden;
}
.circle::before, .circle::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid;
  border-radius: 50%;
}
.circle::before {
  border-color: transparent transparent white white;
}
.circle::after {
  border-color: white white transparent transparent;
}
.circle:nth-of-type(1) {
  width: unset;
  height: unset;
  width: 75vmin;
  height: 75vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.circle:nth-of-type(1)::before {
  transform: rotate(5deg);
}
.circle:nth-of-type(1)::after {
  transform: rotate(41deg);
}
.circle:nth-of-type(2) {
  width: unset;
  height: unset;
  width: 60vmin;
  height: 60vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.circle:nth-of-type(2)::before {
  transform: rotate(99deg);
}
.circle:nth-of-type(2)::after {
  transform: rotate(135deg);
}
.circle:nth-of-type(3) {
  width: calc(76px + 129 * (100vw - 320px) / 960);
  height: calc(76px + 129 * (100vw - 320px) / 960);
  position: absolute;
  top: 13.2211538462%;
  left: -3.28125%;
  filter: opacity(50%);
}
.circle:nth-of-type(3)::before {
  transform: rotate(-95deg);
}
.circle:nth-of-type(3)::after {
  transform: rotate(45deg);
}
.circle:nth-of-type(4) {
  width: calc(73px + 77 * (100vw - 320px) / 960);
  height: calc(73px + 77 * (100vw - 320px) / 960);
  position: absolute;
  bottom: 12.8605769231%;
  left: 7.421875%;
  filter: opacity(50%);
}
.circle:nth-of-type(4)::before {
  transform: rotate(35deg);
}
.circle:nth-of-type(4)::after {
  transform: rotate(143deg);
}
.circle:nth-of-type(5) {
  width: calc(64px + 57 * (100vw - 320px) / 960);
  height: calc(64px + 57 * (100vw - 320px) / 960);
  position: absolute;
  top: -4.2067307692%;
  right: 9.140625%;
  filter: opacity(50%);
}
.circle:nth-of-type(5)::before {
  transform: rotate(-145deg);
}
.circle:nth-of-type(5)::after {
  transform: rotate(15deg);
}
.circle:nth-of-type(6) {
  width: 37px;
  height: 37px;
  position: absolute;
  bottom: 318px;
  right: 60px;
  filter: opacity(50%);
}
@media (max-width: 1023px) {
  .circle:nth-of-type(6) {
    display: none;
  }
}
.circle:nth-of-type(6)::before {
  transform: rotate(105deg);
}
.circle:nth-of-type(6)::after {
  transform: rotate(213deg);
}
.circle:nth-of-type(7) {
  width: calc(103px + 149 * (100vw - 320px) / 960);
  height: calc(103px + 149 * (100vw - 320px) / 960);
  position: absolute;
  bottom: -7.2115384615%;
  right: 3.984375%;
  filter: opacity(50%);
}
.circle:nth-of-type(7)::before {
  transform: rotate(115deg);
}
.circle:nth-of-type(7)::after {
  transform: rotate(255deg);
}

.bling {
  position: absolute;
}
.bling:nth-of-type(1) {
  width: calc(30px + 21 * (100vw - 320px) / 960);
  top: 25.1201923077%;
  left: 22.03125%;
}
.bling:nth-of-type(2) {
  width: calc(10px + 5 * (100vw - 320px) / 960);
  top: 4.4471153846%;
  left: 13.4375%;
}
.bling:nth-of-type(3) {
  width: calc(6px + 4 * (100vw - 320px) / 960);
  bottom: 20.4326923077%;
  left: 13.828125%;
}
.bling:nth-of-type(4) {
  width: calc(10px + 5 * (100vw - 320px) / 960);
  top: 21.6346153846%;
  right: 27.421875%;
}
.bling:nth-of-type(5) {
  width: calc(25px + 12 * (100vw - 320px) / 960);
  bottom: 17.7884615385%;
  right: 27.96875%;
}
.bling:nth-of-type(6) {
  width: 23px;
  bottom: 92px;
  right: 108px;
}
@media (max-width: 1023px) {
  .bling:nth-of-type(6) {
    display: none;
  }
}

.clock__hand {
  width: calc(2px + 1 * (100vw - 320px) / 960);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  background: white;
}
.clock__hand_hours {
  height: 8.5714285714vmin;
}
.clock__hand_minutes {
  height: 17.1428571429vmin;
}
.clock__hand_seconds {
  height: 24vmin;
  transition: all 0.1s cubic-bezier(0.3, 2.06, 0.58, 1);
}
.clock__hand_no-animation {
  transition: none;
}
.clock__center {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background: white;
  border-radius: 50%;
  transform: translate(0, 50%);
  width: calc(2px + 1 * (100vw - 320px) / 960);
  height: calc(2px + 1 * (100vw - 320px) / 960);
}