.clock {
  border: 8px solid black;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: relative;
}

.clock__hours {
  width: 10px;
  height: 90px;
  background: black;
}

.clock__minutes {
  width: 7px;
  height: 130px;
  background-color: black;
}

.clock__seconds {
  width: 4px;
  height: 160px;
  background-color: black;
}

.clock__hours,
.clock__minutes,
.clock__seconds {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
}