:root {
  --clock-size: clamp(15.625rem, 60vmin, 31.25rem);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(148, 157, 92);
  background: radial-gradient(circle, rgba(148, 157, 92, 1) 0%, rgba(0, 0, 0, 1) 55%);
}

.clock {
  border: calc(var(--clock-size) / 100) solid white;
  border-radius: 50%;
  width: var(--clock-size);
  height: var(--clock-size);
  position: relative;
}

.clock__hand {
  width: calc(var(--clock-size) / 60);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  background: white;
}

.clock__hand_hours {
  height: calc(var(--clock-size) / 5);
}

.clock__hand_minutes {
  height: calc(var(--clock-size) / 3);
}

.clock__hand_seconds {
  height: calc(var(--clock-size) / 2.5);
}