@import "nullstyle";

@mixin circle-properties($diameter, $leftRotation, $betweenRotation) {
  width: $diameter;
  height: $diameter;
  &::before {
    transform: rotate($leftRotation);
  }
  &::after {
    transform: rotate($leftRotation + $betweenRotation);
  }
}

@function adaptive-value($max-value, $min-value) {
  @return calc(#{$min-value + px} + (($max-value - $min-value) * ((100vw - 320px) / (1280 - 320))));
}

@function percentage-value($dimension, $value) {
  @if $dimension == width {
    @return calc($value / 1280 * 100%);
  } @else {
    @return calc($value / 832 * 100%);
  }
}

.container {
  height: 100vh;
  background: black;
  position: relative;
  overflow: hidden;
}

.gradient {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background: #97b567;
  filter: blur(adaptive-value(100, 60));
  width: 70vmin;
  height: 70vmin;
}

.circle {
  // position: relative;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border: 1px solid;
    border-radius: 50%;
  }
  &::before {
    border-color: transparent transparent white white;
  }
  &::after {
    border-color: white white transparent transparent;
  }
  &:nth-of-type(1) {
    @include circle-properties(unset, 5deg, 36deg);
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  &:nth-of-type(2) {
    @include circle-properties(unset, 135deg - 36deg, 36deg);
    width: 60vmin;
    height: 60vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  &:nth-of-type(3) {
    @include circle-properties(adaptive-value(205, 76), -95deg, 140deg);
    position: absolute;
    top: percentage-value(height, 110);
    left: percentage-value(width, -42);
    filter: opacity(50%);
  }
  &:nth-of-type(4) {
    @include circle-properties(adaptive-value(150, 73), 35deg, 108deg);
    position: absolute;
    bottom: percentage-value(height, 107);
    left: percentage-value(width, 95);
    filter: opacity(50%);
  }
  &:nth-of-type(5) {
    @include circle-properties(adaptive-value(121, 64), -145deg, 160deg);
    position: absolute;
    top: percentage-value(height, -35);
    right: percentage-value(width, 117);
    filter: opacity(50%);
  }
  &:nth-of-type(6) {
    @media (max-width: 1023px) {
      display: none;
    }
    @include circle-properties(37px, 105deg, 108deg);
    position: absolute;
    bottom: 318px;
    right: 60px;
    filter: opacity(50%);
  }
  &:nth-of-type(7) {
    @include circle-properties(adaptive-value(252, 103), 115deg, 140deg);
    position: absolute;
    bottom: percentage-value(height, -60);
    right: percentage-value(width, 51);
    filter: opacity(50%);
  }
}

.bling {
  position: absolute;
  &:nth-of-type(1) {
    width: adaptive-value(51, 30);
    top: percentage-value(height, 209);
    left: percentage-value(width, 282);
  }
  &:nth-of-type(2) {
    width: adaptive-value(15, 10);
    top: percentage-value(height, 37);
    left: percentage-value(width, 172);
  }
  &:nth-of-type(3) {
    width: adaptive-value(10, 6);
    bottom: percentage-value(height, 170);
    left: percentage-value(width, 177);
  }
  &:nth-of-type(4) {
    width: adaptive-value(15, 10);
    top: percentage-value(height, 180);
    right: percentage-value(width, 351);
  }
  &:nth-of-type(5) {
    width: adaptive-value(37, 25);
    bottom: percentage-value(height, 148);
    right: percentage-value(width, 358);
  }
  &:nth-of-type(6) {
    @media (max-width: 1023px) {
      display: none;
    }
    width: 23px;
    bottom: 92px;
    right: 108px;
  }
}

$clock-hand-width: adaptive-value(3, 2);

.clock {
  &__hand {
    width: $clock-hand-width;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    background: white;
    &_hours {
      height: calc(60vmin / 7);
    }
    &_minutes {
      height: calc(60vmin / 3.5);
    }
    &_seconds {
      height: calc(60vmin / 2.5);
      transition: all 0.1s cubic-bezier(0.3, 2.06, 0.58, 1);
    }
    &_no-animation {
      transition: none;
    }
  }
  &__center {
    position: absolute;
    bottom: 50%;
    left: 50%;
    background: white;
    border-radius: 50%;
    transform: translate(0, 50%);
    width: $clock-hand-width;
    height: $clock-hand-width;
  }
}
