@import "nullstyle";

@mixin circle-properties($diameter, $leftRotation, $betweenRotation) {
  width: $diameter;
  height: $diameter;
  &::before {
    transform: rotate($leftRotation);
  }
  &::after {
    transform: rotate($leftRotation + $betweenRotation);
  }
}

@function adaptive-value($max-value, $min-value) {
  @return calc(#{$min-value + px} + (($max-value - $min-value) * ((100vw - 320px) / (1280 - 320))));
}

.container {
  height: 100vh;
  background: black;
  position: relative;
  overflow: hidden;
}

.gradient {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background: #97b567;
  filter: blur(adaptive-value(100, 60));
  width: adaptive-value(473, 240);
  height: adaptive-value(473, 240);
}

.circle {
  // position: relative;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border: 1px solid;
    border-radius: 50%;
  }
  &::before {
    border-color: transparent transparent white white;
  }
  &::after {
    border-color: white white transparent transparent;
  }
  &:nth-of-type(1) {
    @include circle-properties(adaptive-value(500, 254), 5deg, 36deg);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  &:nth-of-type(2) {
    @include circle-properties(adaptive-value(400, 205), 135deg - 36deg, 36deg);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  &:nth-of-type(3) {
    @include circle-properties(adaptive-value(205, 76), -95deg, 140deg);
    position: absolute;
    top: adaptive-value(168, 47);
    left: adaptive-value(-42, -30);
    filter: opacity(50%);
  }
  &:nth-of-type(4) {
    @include circle-properties(adaptive-value(150, 73), 35deg, 108deg);
    position: absolute;
    bottom: adaptive-value(107, 23);
    left: adaptive-value(95, 15);
    filter: opacity(50%);
  }
  &:nth-of-type(5) {
    @include circle-properties(adaptive-value(121, 64), -145deg, 160deg);
    position: absolute;
    top: -8px;
    right: adaptive-value(117, 20);
    filter: opacity(50%);
  }
  &:nth-of-type(6) {
    @media (max-width: 1023px) {
      display: none;
    }
    @include circle-properties(37px, 105deg, 108deg);
    position: absolute;
    bottom: 318px;
    right: 60px;
    filter: opacity(50%);
  }
  &:nth-of-type(7) {
    @include circle-properties(adaptive-value(252, 103), 115deg, 140deg);
    position: absolute;
    bottom: adaptive-value(-60, -11);
    right: adaptive-value(51, 25);
    filter: opacity(50%);
  }
}

$clock-hand-width: adaptive-value(3, 2);

.clock {
  &__hand {
    width: $clock-hand-width;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    background: white;
    &_hours {
      height: adaptive-value(75, 41);
    }
    &_minutes {
      height: adaptive-value(125, 62);
    }
    &_seconds {
      height: adaptive-value(160, 78);
      transition: all 0.1s cubic-bezier(0.3, 2.06, 0.58, 1);
    }
    &_no-animation {
      transition: none;
    }
  }
  &__center {
    position: absolute;
    bottom: 50%;
    left: 50%;
    background: white;
    border-radius: 50%;
    transform: translate(0, 50%);
    width: $clock-hand-width;
    height: $clock-hand-width;
  }
}

.bling {
  position: absolute;
  &:nth-of-type(1) {
    width: adaptive-value(51, 30);
    top: adaptive-value(209, 107);
    left: adaptive-value(282, 76);
  }
  &:nth-of-type(2) {
    width: adaptive-value(15, 10);
    top: adaptive-value(37, 24);
    left: adaptive-value(172, 41);
  }
  &:nth-of-type(3) {
    width: adaptive-value(10, 6);
    bottom: adaptive-value(194, 61);
    left: adaptive-value(138, 42);
  }
  &:nth-of-type(4) {
    width: adaptive-value(15, 10);
    top: adaptive-value(180, 149);
    right: adaptive-value(351, 40);
  }
  &:nth-of-type(5) {
    width: adaptive-value(37, 25);
    bottom: adaptive-value(148, 103);
    right: adaptive-value(358, 65);
  }
  &:nth-of-type(6) {
    @media (max-width: 1023px) {
      display: none;
    }
    width: 23px;
    bottom: 92px;
    right: 108px;
  }
}
